{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-success text-white bg-dark">
                <h4 class="mb-0">Создать новый пост</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Заголовок</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Содержание</label>
                        {{ form.content }}
                    </div>
                    <button type="submit" class="btn btn-dark w-100 ">Опубликовать</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}